
.content{
    width: 85%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.text1{
    text-decoration: none;
    font-size: 40px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
    text-align: center;
    align-content: center;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .image{
    height: 300px;
    width: 300px;
  }
  