{% extends "main.html" %}
{% load static %}

{% block title %}Products{% endblock title %}
{% block link %}<link rel="stylesheet" href="coll.css" />{% endblock link %}

{% block body %}
<h2>Our Products</h2>
<div class="content">
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
        </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
    </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
        </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
    </div>
    </div>
<div class="content">
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
        </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
    </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
        </div>
    <div class="card">
        <div class="image">
        <img src="/image/dog.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="container">
        <h4><b>Dog Food</b></h4> 
        <p>Rs 1000</p> 
        </div>
    </div>
</div>
</div>

{% endblock body %}